<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.github.anrtestapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ANRWatchdogTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ANRWatchdog Test"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
